.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  /* font-family: "Quicksand", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #f4e2d8, #ba5370);
  color: white;
}

.container {
  background: rgba(248, 245, 245, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 15px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 6rem);
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.display {
  font-size: 3rem;
  grid-column: span 4;
  padding: 2rem;
  text-align: right;
  align-self: center;
  word-wrap: break-word;
  word-break: break-all;
}

.span-two {
  grid-column: span 2;
}

button {
  color: white;
  font-size: 1rem;
  background: unset;
  border: unset;
  cursor: pointer;
  outline: none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05); */
}

button:hover {
  /* transition: ease-in-out 0.1s; */
  background: rgba(240, 238, 238, 0.1);
  border-radius: 15px;
}

button:active {
  background: unset;
  /* background: rgba(229, 173, 173, 0.1); */
  /* color: #192f00; */
  font-size: 24px;
  font-weight: 500;
}
